.client-card {
    width: 350px;
    height: 100px;
    margin: 10px;
    background-color: white;
    text-align: left;
    padding-left: 23px;
}

.position-nav {
    text-align: right;
    margin-right: 15px;
    margin-top: 40px;

}

.nav a {
    text-decoration: none;
    color: gray;
}

.nav li {
    list-style-type: none;
    font-size: small;
}

.nav a:hover {
    color: darkgray;
}